<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row" *ngFor='let query of queries' class="questionaire">
            <check-answer *ngIf="query.controlType === 'checkbox'" [query]="query"></check-answer>
            <radio-answer *ngIf="query.controlType === 'radio'" [query]="query"></radio-answer>
            <text-answer *ngIf="query.controlType === 'textbox'"></text-answer>
        </div>
    </div>
</div>